In [5]:
import pandas as pd

# set the file path
file_path = "Citywide_Mobility_Survey_-_Person_Survey_2019.csv"

# use pandas to read the csv file
df = pd.read_csv(file_path)

# print the first few rows of the data
print(df.head())

       hh_id     weight        cms_zone  survey_mode    person_id  person_num  \
0  191546322          0  Inner Brooklyn            1  19154632203           3
1  191546322          0  Inner Brooklyn            1  19154632202           2
2  191546322  212.12729  Inner Brooklyn            1  19154632201           1
3   19241657          0   Middle Queens            1   1924165703           3
4   19241657          0   Middle Queens            1   1924165702           2

   is_participant  num_days  num_days_complete  num_trips  ...  \
0               0       NaN                NaN        NaN  ...
1               0       NaN                NaN        NaN  ...
2               1       7.0                7.0       23.0  ...
3               0       NaN                NaN        NaN  ...
4               0       NaN                NaN        NaN  ...

   race_native_hawaiian  race_white  race_other  disability_hearing  \
0                   995         995         995                 995
1                   995         995         995                 995
2                     1           0           0                   0
3                   995         995         995                 995
4                   995         995         995                 995

   disability_seeing  disability_walking  disability_mobility  \
0                995                 995                  995
1                995                 995                  995
2                  0                   0                    0
3                995                 995                  995
4                995                 995                  995

  disability_dressing disability_concentrating  disability_none
0                 995                      995              995
1                 995                      995              995
2                   0                        0                1
3                 995                      995              995
4                 995                      995              995

[5 rows x 165 columns]

C:\Users\bhatt\AppData\Local\Temp\ipykernel_20260\2298631647.py:7: DtypeWarning: Columns (21,26,28,29,30,31,32,33,55,59,78,80,81,82,83,84,85,86,95,96,97,98,99,103,104,105,106,107,108,109,110,111,112,113,114,115,116,127,128,129,130,131,132,133,135,136,137,138,139,140,141,142,143,144,145,146,147,149,150) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df.head()

,hh_id,weight,cms_zone,survey_mode,person_id,person_num,is_participant,num_days,num_days_complete,num_trips,...,race_native_hawaiian,race_white,race_other,disability_hearing,disability_seeing,disability_walking,disability_mobility,disability_dressing,disability_concentrating,disability_none
0,191546322,0,Inner Brooklyn,1,19154632203,3,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995
1,191546322,0,Inner Brooklyn,1,19154632202,2,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995
2,191546322,212.12729,Inner Brooklyn,1,19154632201,1,1,7.0,7.0,23.0,...,1,0,0,0,0,0,0,0,0,1
3,19241657,0,Middle Queens,1,1924165703,3,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995
4,19241657,0,Middle Queens,1,1924165702,2,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995

In [8]:
df.shape

(8286, 165)

In [9]:
unique_values = df["hh_id"].unique()

In [10]:
unique_values

array([191546322,  19241657,  19933569, ...,  19841323,  19376768,
        19104727], dtype=int64)

In [13]:
# check for null values in the 'age' column
null_values = df['hh_id'].isnull().sum()
print(f"Number of null values in the 'hh_id' column: {null_values}")

Number of null values in the 'hh_id' column: 0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8286 entries, 0 to 8285
Columns: 165 entries, hh_id to disability_none
dtypes: float64(19), int64(81), object(65)
memory usage: 10.4+ MB

In [17]:
df.dtypes

hh_id                        int64
weight                      object
cms_zone                    object
survey_mode                  int64
person_id                    int64
                             ...
disability_walking           int64
disability_mobility          int64
disability_dressing          int64
disability_concentrating     int64
disability_none              int64
Length: 165, dtype: object

In [18]:
#Checking Null values
df.isnull().sum()*100/df.shape[0]

hh_id                       0.0
weight                      0.0
cms_zone                    0.0
survey_mode                 0.0
person_id                   0.0
                           ...
disability_walking          0.0
disability_mobility         0.0
disability_dressing         0.0
disability_concentrating    0.0
disability_none             0.0
Length: 165, dtype: float64

In [20]:
df.describe()

,hh_id,survey_mode,person_id,person_num,is_participant,num_days,num_days_complete,num_trips,num_walk_trips,num_transit_trips,...,race_native_hawaiian,race_white,race_other,disability_hearing,disability_seeing,disability_walking,disability_mobility,disability_dressing,disability_concentrating,disability_none
count,8.286000e+03,8286.000000,8.286000e+03,8286.000000,8286.000000,3346.000000,3346.000000,3346.000000,3346.000000,3346.000000,...,8286.000000,8286.000000,8286.000000,8286.000000,8286.000000,8286.000000,8286.000000,8286.000000,8286.000000,8286.000000
mean,2.468398e+07,1.246681,2.468398e+09,2.146633,0.403814,5.475792,4.334130,25.540646,10.004782,5.827555,...,638.420468,638.613444,638.453295,617.448467,617.443036,617.467053,617.445571,617.442674,617.449071,617.774922
std,2.974500e+07,0.496917,2.974500e+09,1.317302,0.490691,2.612294,2.524525,21.900434,12.091553,7.646751,...,477.339270,477.081235,477.295392,482.943289,482.950227,482.919543,482.946990,482.950690,482.942518,482.525910
min,1.900024e+07,1.000000,1.900024e+09,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.926343e+07,1.000000,1.926343e+09,1.000000,0.000000,1.000000,1.000000,4.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.951784e+07,1.000000,1.951784e+09,2.000000,0.000000,7.000000,5.000000,24.000000,5.000000,2.000000,...,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000
75%,1.979496e+07,1.000000,1.979496e+09,3.000000,1.000000,7.000000,7.000000,41.000000,16.000000,10.000000,...,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000,995.000000
max,1.999892e+08,3.000000,1.999892e+10,11.000000,1.000000,7.000000,7.000000,178.000000,93.000000,57.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000